html {
    position: relative;
    min-height: 100%;

}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url("background.png");
    color: lightslategray;
    margin-bottom: 60px;
}

#my-banner {
    display: block;
    padding: 20px;
    margin: 0;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.my-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .container {
    border: solid red 2px;
} */

.container-fluid {
    /* border: dashed blue 3px; */
    height: 100%;

}

/* .row {
    border: greenyellow dashed 6px;
} */

.content-container,
.nav-container {
    width: 66.66%;
    background-color: white;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    /* Set the fixed height of the footer here */
    height: 65px;
    line-height: 75px;
    /* Vertically center the text there */
    background-color: #777777;
    text-align: center;
    border-top: #4aaaa5 solid 10px;
    color: white;
    font-size: 10px;
    overflow: auto;
}

.row-pics {
    text-align: center;
}

img,
.img-container {
    height: 200px;
    width: 200px;
    overflow: auto;
}





/************************************************* CUSTOM COLOR BUTTON ************************************************/
.btn-sample {
    color: #FFFFFF;
    background-color: #4AAAA5;
    border-color: #130269;
}

.btn-sample.active,
.btn-sample:active,
.btn-sample:focus,
.btn-sample:hover,
.open .dropdown-toggle.btn-sample {
    color: #FFFFFF;
    background-color: #327370;
    border-color: #130269;
}

.btn-sample.active,
.btn-sample:active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample.disabled.active,
.btn-sample.disabled:active,
.btn-sample.disabled:focus,
.btn-sample.disabled:hover,
.btn-sample[disabled],
.btn-sample[disabled].active,
.btn-sample[disabled]:active,
.btn-sample[disabled]:focus,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample,
fieldset[disabled] .btn-sample.active,
fieldset[disabled] .btn-sample:active,
fieldset[disabled] .btn-sample:focus,
fieldset[disabled] .btn-sample:hover {
    background-color: #4AAAA5;
    border-color: #130269;
}

.btn-sample .badge {
    color: #4AAAA5;
    background-color: #FFFFFF;
}
