html {
    position: relative;
    min-height: 100%;

}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url("background.png");
    color: lightslategray;
    margin-bottom: 60px;
}

#my-banner {
    display: block;
    padding: 20px;
    margin: 0;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.my-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-fluid {
    height: 100%;

}

.content-container,
.nav-container {
    width: 66.66%;
    background-color: white;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    /* Set the fixed height of the footer here */
    height: 65px;
    line-height: 75px;
    /* Vertically center the text there */
    background-color: #777777;
    text-align: center;
    border-top: #4aaaa5 solid 10px;
    color: white;
    font-size: 10px;
    overflow: hidden;
}

.row-pics {
    text-align: center;
}

.img-container,
img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    color: white;
    background-color: #4AAAA5;
    border: solid black 1px;
}

.button-container {
    width: auto;
}

/************************************************* CUSTOM COLOR BUTTON ************************************************/
.btn-sample {
    color: #FFFFFF;
    background-color: #4AAAA5;
    border-color: #130269;
}

.btn-sample.active,
.btn-sample:active,
.btn-sample:focus,
.btn-sample:hover,
.open .dropdown-toggle.btn-sample {
    color: #FFFFFF;
    background-color: #327370;
    border-color: #130269;
}

.btn-sample.active,
.btn-sample:active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample.disabled.active,
.btn-sample.disabled:active,
.btn-sample.disabled:focus,
.btn-sample.disabled:hover,
.btn-sample[disabled],
.btn-sample[disabled].active,
.btn-sample[disabled]:active,
.btn-sample[disabled]:focus,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample,
fieldset[disabled] .btn-sample.active,
fieldset[disabled] .btn-sample:active,
fieldset[disabled] .btn-sample:focus,
fieldset[disabled] .btn-sample:hover {
    background-color: #4AAAA5;
    border-color: #130269;
}

.btn-sample .badge {
    color: #4AAAA5;
    background-color: #FFFFFF;
}

/**************** Navbar animation ********************/

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #4aaaa5;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all 0.2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all 0.2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all 0.2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all 0.2s;
}
